* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.data_list::-webkit-scrollbar {
  display: none;
}

.data_list {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
